.hero__wrap{
    display: flex;
    /* gap: 20px; */
}

.hero__card{
    border: 10px solid rgb(255, 255, 255);
    height: 400px;
    background-color: lightgray;
    padding: 20px;

    display: flex;
    flex-direction: column;

    writing-mode: vertical-rl;

    flex-grow: 1;
    transition: 0.5s;
    max-width: 400px;

    &:hover{
        flex-grow: 3;

        .hero__text{
            display: none;
        }

        h2{
            width: 100%;
            letter-spacing: 0px;
        }
    }

    h2{
        transition: 1s
        margin-top: auto;
        margin-right: auto;
        writing-mode: horizontal-tb;
        transition: 0.5s;
        
        letter-spacing: 10px;
        width: 25px;
        overflow: hidden;
        white-space: nowrap;
    }
}